/* body{
  align-items: center;
} */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  padding: 20px;
  font-family: 'Courier New';
  font-weight: bolder;
  background-color: rgb(160, 160, 255);
}

a:hover {
  background-color: rgb(137, 137, 255);
}


.random-outfits>div>img,
.shirts>div>img,
.pants>div>img {

  max-width: 200px;
  max-height: 200px;
}

.random-favorites-btn {
  display: flex;
  border-radius: 5px;
}

.random-favorites-btn:active{
  background-color: darkgrey;
}

.random-outfits {
  display: flex;
  flex-wrap: wrap;
  flex: 50%
}